@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 20px;
  font: $base-text-size / 1 $base-font-family;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 25px;
  color: blue;
}

// ul li {
//   font-size: 2vw;
// }
//
// ul .leftSideList {
//   color: blue;
// }
